In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib

water_df = pd.read_excel('Water Incurred.xlsx')
wind_df = pd.read_excel('Wind Incurred.xlsx')

In [20]:
import datetime

In [21]:
water_df['year_month'] = pd.to_datetime(water_df['Loss Date']).dt.to_period('M')

water_df.head()

,Loss Date,Location of Loss,Loss Reserve,LAE Reserve,Total Reserves,Previous Reserves,Sedgwick Fees,Loss Paid,LAE Paid,Recoveries,...,This moth Total Paid,Total Paid,Deductible,Incurred,This month incurred total for Summary risk(total reserve + paid),Loss Type,Description,year,month,year_month
0,2012-12-20,"66 De Koven Ct Brooklyn, NY, 11230",0.0,0.0,0.0,0.0,1983.35,7550.00,612.00,0.0,...,0.0,10145.35,500.0,10145.35,0.0,WATER DAMAGE,Insured sustained damages to the roof from a l...,2012,12,2012-12
1,2013-05-20,"420 Greene Ave Brooklyn, NY, 11216",0.0,0.0,0.0,0.0,385.00,1292.99,1634.75,0.0,...,0.0,3312.74,1000.0,3312.74,0.0,WATER DAMAGE,Kitchen water supply line erupted and caused w...,2013,5,2013-05
2,2014-01-06,"72 Lakewood St Wyandanch, NY, 11798",0.0,0.0,0.0,0.0,543.00,9009.84,1473.05,0.0,...,0.0,11025.89,1000.0,11025.89,0.0,WATER DAMAGE,Water damage due to pipes freezing.,2014,1,2014-01
3,2014-01-06,"86 Bounty Ln Jericho, NY, 11753",0.0,0.0,0.0,0.0,719.40,37892.36,2974.73,0.0,...,0.0,41586.49,1000.0,41586.49,0.0,WATER DAMAGE,The insured`s ceiling broke and water flooded ...,2014,1,2014-01
4,2014-01-07,"8 Old Farm Rd Great Neck, NY, 11020",0.0,0.0,0.0,0.0,869.50,83361.18,2748.50,0.0,...,0.0,86979.18,1000.0,86979.18,0.0,WATER DAMAGE,Main water pipe burst resulting in water damage.,2014,1,2014-01

In [45]:
water_df['year_month'].value_counts()

2018-01    125
2019-01     75
2020-08     61
2016-02     55
2019-02     49
          ...
2014-05      3
2014-11      3
2014-06      2
2013-05      1
2012-12      1
Freq: M, Name: year_month, Length: 86, dtype: int64

In [42]:
wind_df['year_month'] = pd.to_datetime(wind_df['Loss Date']).dt.to_period('M')

wind_df.head()

,Loss Date,Location of Loss,Loss Reserve,LAE Reserve,Total Reserves,Previous Reserves,Sedgwick Fees,Loss Paid,LAE Paid,Recoveries,...,Total LAE Paid,Net Loss Paid,This moth Total Paid,Total Paid,Deductible,Incurred,This month incurred total for Summary risk(total reserve + paid),Loss Type,Description,year_month
0,2012-10-29,"6906 174th Street Fresh Meadows, NY, 11365",0.0,0.0,0.0,0.0,218.00,0.00,712.0,0.0,...,0.0,0.0,0.0,930.00,2000.0,930.00,0.0,WIND AND HAIL,CAT Hurricane Sandy - Tree fell and knocked ou...,2012-10
1,2012-10-29,"1505 Utopia Pkwy New York, NY, 11357",0.0,0.0,0.0,0.0,561.95,1412.74,532.0,0.0,...,0.0,0.0,0.0,2506.69,1000.0,2506.69,0.0,WIND AND HAIL,CAT Hurricane Sandy - Damage to roof due to storm,2012-10
2,2012-10-29,"88-23 187 Place Hollis, NY, 11423",0.0,0.0,0.0,0.0,368.08,1344.32,12.0,0.0,...,0.0,0.0,0.0,1724.40,1000.0,1724.40,0.0,WIND AND HAIL,Hurricane Sandy - Wind caused damage to roof.,2012-10
3,2012-10-29,"6414 11th Ave. Brooklyn, NY, 11219",0.0,0.0,0.0,0.0,588.10,3143.35,362.0,0.0,...,0.0,0.0,0.0,4093.45,1000.0,4093.45,0.0,WIND AND HAIL,Hurricane Sandy - Neighbors tree fell into ins...,2012-10
4,2012-10-29,"27-15 147th Street Flushing, NY, 11354",0.0,0.0,0.0,0.0,431.12,1786.78,532.0,0.0,...,0.0,0.0,0.0,2749.90,1000.0,2749.90,0.0,WIND AND HAIL,Hurricane Sandy - Insured`s roof was torn apar...,2012-10

In [43]:
wind_df['year_month'].value_counts()

2020-08    411
2018-03    147
2012-10     56
2020-04     41
2019-02     32
          ...
2015-05      1
2015-09      1
2015-12      1
2016-01      1
2015-07      1
Freq: M, Name: year_month, Length: 81, dtype: int64